---
title: Nuestro Equipo
description: >-
Somos una empresa con profesionales altamente capacitados que unifican esfuerzo, vocación y empeño en ofrecer servicios de alta calidad en el área de la informática, desde particulares hasta empresas privadas, pymes e instituciones públicas, obteniendo y desarrollando una metodología propia de trabajo que se pone de manifiesto en el éxito de la empresa y en la satisfacción de nuestros clientes.
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
